.container-fluid {
    background-color: yellow;
    padding: 50px 75px 25px 75px;
}

.header {
    background-color: blue;
    height: 120px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.nav {
    background-color: green;
    height: 40px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.content {
    background-color: red;
    height: 160px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.aside {
    background-color: aqua;
    height: 160px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.promo {
    background-color: orange;
    height: 120px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.footer {
    background-color: black;
    color: white;
    height: 40px;
}

@media only screen and (min-width: 768px) {
    .header {
        background-color: purple;
    }
    .nav {
        background-color: aquamarine;
    }
    .content {
        background-color: chartreuse;
    }
    .aside {
        background-color: coral;
    }
    .promo {
        background-color: cornflowerblue;
    }
    .footer {
        background-color: navy;
    }
}

@media only screen and (min-width: 875) {
    .header {
        background-color: navy;
    }
    .nav {
        background-color: cornflowerblue;
    }
    .content {
        background-color: coral;
    }
    .aside {
        background-color: chartreuse;
    }
    .promo {
        background-color: aquamarine;
    }
    .footer {
        background-color: purple;
    }
}